<div class="card-medium">
    <h3 class="button" (click)="expand()">{{person.firstName}} {{person.lastName}}</h3>
    <div *ngIf="showing">
        <div *ngIf="updating">
            Innovation: <textarea [(ngModel)]="person.innovation"></textarea><br />
            Year: <input [(ngModel)]="person.year" /><br />
        </div>
        <p *ngIf="!updating">{{person.innovation}}, in {{person.year}}</p>
        <button (click)="flip()">Edit</button>
    </div>
    <button (click)="delete()">X</button>
</div>